services:
  db:
    container_name: mysql
    image: mysql:9.5
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - c:/temp/db:/var/lib/mysql
  php:
    container_name: php
    build:
      context: .
    ports:
      - "9999:80"
    volumes:
      - ./app/src:/var/www/html
      - ./app/resources:/var/www/html/resources
    env_file: .env
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8080:8080"
    environment:
      PMA_HOST: db
    depends_on:
      - db